@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #111;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: #fae596;
    height: 7vh;
    display: flex;
    justify-content: center;
}

.nav-item {
    color: black;
    background-color: inherit;
    line-height: 7vh;
    text-decoration: none;
    text-align: center;
    width: 9vw;
    border: none;
    transition: 200ms;
}

.nav-item:hover:not([disabled]) {
    background-color: #fcdc83;
    text-decoration: underline;
}

.active-tab {
    text-decoration: underline;
    background-color: #ffd866;
    /*font-weight: bold;*/
}

.container {
    background: #111;
    width: 80%;
    height: 93vh;
    margin: auto;
    display: flex;
    justify-content: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flex-container-center {
    display: flex;
    justify-content: center;
}

.elements-container {
    width: 33.33%;
}

.inputs {
    background-color: black;
    width: 14%;
}

.inputs input[type="file"] {
    display: none;
}

.custom-file-input {
    width: 100%;
}

.password-container {
    height: 47px;
    width: 100%;
}

.password-container input {
    outline: none;
    width: 70%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid white;
}

.ddl {
    outline: none;
}

.ddl option {
    color: black;
    background-color: transparent;
}

.algorithms-container {
    transform: translateY(-58%);
}

.algorithms-title {
    color: #64c4ed;
    text-align: center;
    padding-bottom: 5px;
}

.generate-password-btn {
    float: right;
    width: 30%;
    font-size: 18px !important;
}

.button-container {
    width: 33.33%;
}

.btn-red a {
    text-decoration: none;
    color: #f0134d;
}

.btn {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    border-style: outset;
    display: inline-block;
    height: 47px;
    padding: 11px 16px;
    border-width: 1px;
    border-radius: 0;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    font-size: 14px;
    font-weight: 400;
    transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out , -webkit-box-shadow .15s ease-in-out;
}

.btn:hover:not([disabled]), .btn-red a:hover:not([disabled]) {
    cursor: pointer;
    color: #fff;
}

.btn-green{
    border-color: #94aa2a;
    color: #94aa2a;
}

.btn-green, .btn-red  {
    width: 7%;
}

.btn-green:disabled {
    background-image: linear-gradient(
            45deg,
            rgba(0,0,0,0.5) 25%,
            #343a40 25%,
            #343a40 50%,
            rgba(0,0,0,0.5) 50%,
            rgba(0,0,0,0.5) 75%,
            #343a40 75%,
            #343a40
    );
}

.btn-green:hover:not([disabled]) {
    background: #94aa2a;
    border-color: #94aa2a;
}

.btn-red {
    padding: 0;
    border-color: #f0134d;
    color: #f0134d;
}

.btn-red:hover:not([disabled]) {
    border-color: #f0134d;
    background: #f0134d;
}

.btn-yellow {
    border-color: #f1bc31;
    color: #f1bc31;
}

.btn-yellow:hover:not([disabled]) {
    border-color: #f1bc31;
    background: #f1bc31;
}

.highlighted {
    border-color: #6731f1;
}

.btn-lightblue {
    border-color: #64c4ed;
    color: #64c4ed;
}

.btn-white {
    border-color: #f8f9fa;
}

.btn-white:hover:not([disabled]) {
    background-color: #4c420d;
    /*border-color: #f8f9fa;*/
}

.hidden {
    display: none;
}